<div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
          <div class="row align-items-center m-b-30">
            <div class="col-sm-12 col-lg-9">
              <div class="page-header-title">
                <h3 class="page-title-heading mr-0 mr-r-5">Status</h3>
              </div>
            </div>
          </div>
        <div class="page-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Merchant Refrence</label>
                                <input type="text" class="form-control" placeholder="Merchant Refrence">
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Payment Type</label>
                                    <select class="form-control" id="sel1">
                                       <option>PAID</option>
                                       <option>PAID</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Total</label>
                                    <input type="text" class="form-control" placeholder="Total">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Select Outlet</label>
                                    <select class="form-control" id="sel1">
                                       <option>Select Outlet</option>
                                       <option>Select Outlet</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Prep Time</label>
                                    <input type="text" class="form-control" placeholder="Prep Time">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Rider</label>
                                <select class="form-control" id="sel1">
                                    <option>Select Here</option>
                                    <option>Select Here</option>
                                </select>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Search Engine Customer</label>
                                <input type="text" class="form-control" placeholder="Search Engine Customer">
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Customer Name</label>
                                    <input type="text" class="form-control" placeholder="Customer Name">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Customer Name</label>
                                    <input type="text" class="form-control" placeholder="Customer Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Search Engine Address</label>
                                <input type="text" class="form-control" placeholder="Select Address">
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Drop Address</label>
                                    <input type="text" class="form-control" placeholder="Address">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Drop Address</label>
                                    <input type="text" class="form-control" placeholder="Address">
                                </div>
                            </div>
                            
                            <!-- <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Latitude</label>
                                    <input type="text" class="form-control" placeholder="Latitude">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Latitude</label>
                                    <input type="text" class="form-control" placeholder="Latitude">
                                </div>
                            </div>  -->
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>